#cloud-config

package_update: true
package_upgrade: true

packages:
  - apparmor
  - docker.io
  - docker-compose
  - git
  - git-lfs
  - curl
  - ufw

runcmd:
  - ufw allow 22/tcp
  - ufw allow 26000/udp
  - ufw allow 8080/tcp
  - ufw --force enable

  - systemctl enable docker
  - systemctl start docker

  - git lfs install
  - git clone https://github.com/mpdx/xonotic-server.git /root/xonotic-server
  - cd /root/xonotic-server && git lfs pull

  - cd /root/xonotic-server && docker-compose up -d
